<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>
    <div class="container-fluid">
      <div class="jumbotron">
        <div class="text-center">
        <p><a href="{{ site.baseurl }}/" class="text-center"><img class="img-responsive col-xs-4 col-sm-3 col-md-2 img-circle" src="{{ site.avatar }}" /></a></p>
        <div class="site-info">
          <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
          <p class="site-description">{{ site.description }}</p>
        </div>
        <div class="col-xs-12 text-center">
    {% for external_url_hash in site.contact_urls %}
      {% assign external_url = external_url_hash[1] %}
      <a href="{{ external_url.url }}" target="_blank" class="gray hint--top" data-hint="{{ external_url.label }}">
        <i class="fa fa-fw fa-lg fa-{{ external_url.icon }}"></i>
      </a>
    {% endfor %}
  </div>
      </div>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
